<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.dianbao.dao.ImagesModuleInfoDao">

	<resultMap id="BaseResultMap" type="com.dianbao.domain.ImagesModuleInfo">
        <result property="id" column="id"/>
        <result property="moduleCode" column="module_code"/>
        <result property="moduleName" column="module_name"/>
        <result property="moduleParentCode" column="module_parent_code"/>
        <result property="moduleParentName" column="module_parent_name"/>
	</resultMap>
  <sql id="Base_Column_List">
    id, module_code, module_name, module_parent_code, module_parent_name
  </sql>
	
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from images_module_info
    where id = #{id,jdbcType=INTEGER}
  </select>
	
	  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	    delete from images_module_info
	    where id = #{id,jdbcType=INTEGER}
	  </delete>
	  
	  
  <insert id="insertSelective" parameterType="com.dianbao.domain.ImagesModuleInfo">
    insert into images_module_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="moduleCode != null">
        module_code,
      </if>
      <if test="moduleName != null">
        module_name,
      </if>
      <if test="moduleParentCode != null">
        module_parent_code,
      </if>
      <if test="moduleParentName != null">
        module_parent_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="moduleCode != null">
        #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentCode != null">
        #{moduleParentCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentName != null">
        #{moduleParentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.dianbao.domain.ImagesModuleInfo">
    update images_module_info
    <set>
      <if test="moduleCode != null">
        module_code = #{moduleCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleName != null">
        module_name = #{moduleName,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentCode != null">
        module_parent_code = #{moduleParentCode,jdbcType=VARCHAR},
      </if>
      <if test="moduleParentName != null">
        module_parent_name = #{moduleParentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	


	
</mapper>

