<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="com.dianbao.dao.ImagesInfoDao">

	<resultMap id="BaseResultMap" type="com.dianbao.domain.ImagesInfo">
        <result property="id" column="id"/>
        <result property="imagesName" column="images_name"/>
        <result property="imagesAdress" column="images_adress"/>
        <result property="imagesUrl" column="images_url"/>
        <result property="imagesModuleCode" column="images_module_code"/>
        <result property="imagesModuleName" column="images_module_name"/>
        <result property="imagesStatus" column="images_status"/>
        <result property="createTime" column="create_time"/>
        <result property="note" column="note"/>
        <result property="imagesSort" column="images_sort"/>
	</resultMap>
  <sql id="Base_Column_List">
    id, images_name, images_adress, images_url, images_module_code, images_module_name, images_status, 
    create_time, note, images_sort
  </sql>
  
  <sql id="list_Filters_images">
    <if test='imagesName != null and imagesName !="" '>
      and instr(images.images_name, #{imagesName}) > 0
    </if>
    <if test='note != null and note !="" '>
      and instr(images.note, #{note}) > 0
    </if>
    <if test='imagesModuleCode != null and imagesModuleCode !="" '>
      and images.images_module_code = #{imagesModuleCode, jdbcType=VARCHAR}
    </if>
    <if test='imagesModuleName != null and imagesModuleName !="" '>
      and instr(images.images_module_name, #{imagesModuleName}) > 0
    </if>
    <if test='imagesStatus != null and imagesStatus !="" '>
      and images.images_status = #{imagesStatus, jdbcType=VARCHAR}
    </if>
    <if test='imagesSort >0 '>
      and images.images_sort = #{imagesSort}
    </if>
    <if test='beginDate != null and beginDate != ""'>
        and str_to_date( images.create_time, '%Y-%m-%d %H:%i:%s') <![CDATA[>=]]> str_to_date(#{beginDate}, '%Y-%m-%d %H:%i:%s') 
    </if>
    <if test='endDate != null and endDate != ""'>
        and str_to_date( images.create_time, '%Y-%m-%d %H:%i:%s') <![CDATA[<=]]> str_to_date(#{endDate}, '%Y-%m-%d %H:%i:%s') 
    </if>
  </sql>
	
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from images_info
    where id = #{id,jdbcType=INTEGER}
  </select>
	

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM images_info WHERE
        id = #{id,jdbcType=INTEGER}
    </delete>
	
    
	<update id="updateByPrimaryKeySelective" >
        UPDATE images_info  
        <set>
	      <if test="imagesName != null">
	        images_name = #{imagesName,jdbcType=VARCHAR},
	      </if>
	      <if test="imagesAdress != null">
	        images_adress = #{imagesAdress,jdbcType=VARCHAR},
	      </if>
	      <if test="imagesUrl != null">
	        images_url = #{imagesUrl,jdbcType=VARCHAR},
	      </if>
	      <if test="imagesModuleCode != null">
	        images_module_code = #{imagesModuleCode,jdbcType=VARCHAR},
	      </if>
	      <if test="images_module_name != null">
	        images_module_name = #{images_module_name,jdbcType=VARCHAR},
	      </if>
	      <if test="imagesStatus != null">
	        images_status = #{imagesStatus,jdbcType=VARCHAR},
	      </if>
	      <if test="note != null">
	        note = #{note},
	      </if>
	      <if test="imagesSort != null">
	        images_sort = #{imagesSort},
	      </if>
        </set>
      
        WHERE 
	        id = #{id} 
	</update>
	
	
  <insert id="insertSelective" parameterType="com.dianbao.domain.ImagesInfo" >
    insert into images_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="imagesName != null">
        images_name,
      </if>
      <if test="imagesAdress != null">
        images_adress,
      </if>
      <if test="imagesUrl != null">
        images_url,
      </if>
      <if test="imagesModuleCode != null">
        images_module_code,
      </if>
      <if test="imagesModuleName != null">
        images_module_name,
      </if>
      <if test="imagesStatus != null">
        images_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="imagesSort != null">
        images_sort,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="imagesName != null">
        #{imagesName,jdbcType=VARCHAR},
      </if>
      <if test="imagesAdress != null">
        #{imagesAdress,jdbcType=VARCHAR},
      </if>
      <if test="imagesUrl != null">
        #{imagesUrl,jdbcType=VARCHAR},
      </if>
      <if test="imagesModuleCode != null">
        #{imagesModuleCode,jdbcType=VARCHAR},
      </if>
      <if test="imagesModuleName != null">
        #{imagesModuleName,jdbcType=VARCHAR},
      </if>
      <if test="imagesStatus != null">
        #{imagesStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note},
      </if>
      <if test="imagesSort != null">
        #{imagesSort},
      </if>
    </trim>
  </insert>
	
	<select id="selectImagesByPage" resultMap="BaseResultMap" parameterType="com.dianbao.domain.ImagesInfo">
	select images.id, images.images_name, images.images_adress, images.images_url, images.images_module_code,  
    images.images_module_name, images.images_status,DATE_FORMAT(images.create_time,'%Y-%m-%d %H:%i:%s') createTimeZ, images.note, images.images_sort from images_info images 
    where 1=1 <include refid="list_Filters_images" />
    ORDER BY images.images_module_code asc,images.create_time asc 
	<if test='startRow != null'>
		limit ${startRow}, #{pageSize}
	</if>
	</select>
	
	
	<select id="countImagesByPage" resultType="int" parameterType="com.dianbao.domain.ImagesInfo">
	select count(*) from images_info images where 1 = 1 <include refid="list_Filters_images" />
	</select>
	
	
	
</mapper>

